/* 
    @author：郑人滏
    @description: 全局样式
*/

html {
    font-size: 312.5%;
}

body {
    margin: 0;
    border: 0;
}

#app {
    padding: 3vw;
    color: #4a4a4a;
    position: relative;
    height: calc(100vh);
    background-color: #f7f7f7;
}

/* 背景图片样式 */
.background-img {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* 流式布局 */
.flex {
    display: flex;
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

/* 卡片样式 */
.card {
    margin: 2.5vw 0;
    padding: 3vw;
    border-radius: 3.5vw;
    background-color: white;
}

/* 灰色 */
.gray-color {
    color: #787878;
}

/* 背景色 */
.blue-bg {
    background-color: rgb(117, 152, 236);
}

/* 下划线 */
.underline {
    position: relative;
}

.underline::after {
    top: 70%;
    left: 0%;
    content: '';
    width: 100%;
    opacity: 0.8;
    height: 1.5vw;
    position: absolute;
    border-radius: 15vw;
    background-color: rgb(117, 152, 236);
}

/* 播放列表 */
.play-menu {
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.95;
    position: fixed;
    padding: 1.5vw 3vw;
    background-color: white;
}

.play-menu .col-1 {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 100%;
    border: 2vw solid black;
}

.play-menu .col-2 {
    margin: 0 3vw;
}

.play-menu .col-2 .row-1 {
    width: 100%;
    height: 1.5vw;
    margin-bottom: 1.2vw;
}

.play-menu .col-2 .row-2 .col-2-1 {
    font-size: 4.5vw;
}

.play-menu .col-2 .row-2 .split-line {
    width: 1vw;
    height: 0.3vw;
    margin: 0 1vw;
    background-color: #787878;
}

.play-menu .col-2 .row-2 .col-2-2 {
    font-size: 3vw;
    color: rgb(204, 204, 204);
}

.play-menu .col-3 img[class^='col-3'] {
    width: 6vw;
    height: 6vw;
}

.play-menu .col-3 .col-3-2 {
    margin: 0 2vw;
}
