/* 
@author：郑人滏
@since：2021年9月10日10:54:49
@desc：实训第六天
*/

body {
    margin: 0;
    border: 0;
}

/* 全局字体颜色 */
* {
    color: rgb(228, 228, 228);
}

/* 外层容器定位 */
#app {
    position: relative;
}

/* 背景定位以及图层优先级 */
.bg {
    min-height: calc(100vh);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.content {
    padding: 9px 0 0 0;
    margin: 0 9px;
}

/* ----------------------顶部---------------------- */
.row-1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.row-1 .col-1 > img,
.row-1 .col-3 > img {
    width: 7vw;
    height: 7vw;
}

.row-1 .col-2 {
    font-size: 4.7vw;
}

/* ----------------------菜单---------------------- */
.row-2 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* 选中当前的项 */
.row-2 .selected {
    background: linear-gradient(0.5turn, rgb(225 235 241), rgb(22 152 180));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* 选中当前的项 */
.row-2 .selected::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    background-image: url('../../../static/day05/processor.png');
}

.row-2 > div {
    font-size: 4.7vw;
}

/* ----------------------播放列表---------------------- */
.row-3 .item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 0.3vw;
    border-bottom-style: solid;
    border-image: linear-gradient(0.25turn, rgba(255, 0, 0, 0), rgb(234, 238, 241, 0.45), rgba(255, 0, 0, 0)) 10;
}

.row-3 .col-1 > img {
    width: 6vw;
    height: 6vw;
}

.row-3 .col-3 > img {
    width: 4vw;
    height: 4vw;
}

.row-3 .item .col-2 .music-name {
    font-size: 4vw;
}

.row-3 .item .col-2 .music-desc,
.row-3 .item .long {
    font-size: 3vw;
    color: rgb(204, 204, 204);
}

.row-3 .item .col-2 {
    flex-basis: 60vw;
}

.row-3 .item .col-3 {
    text-align: center;
    flex-basis: 12vw;
}

.row-4 {
    background: rgb(51 55 90);
    opacity: 0.95;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 9px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.row-4 img {
    width: 7vw;
    height: 7vw;
}

.row-4 [class^='col-'] {
    text-align: center;
    font-size: 3vw;
}
