/* 
    @author：郑人滏
    @description：播放页样式
*/
#app {
    z-index: 998;
    padding: 0 !important;
}

.masking {
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    z-index: -1;
    height: 100%;
    filter: blur(50px);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    padding: 3vw;
}

.icon {
    width: 6vw;
    height: 6vw;
}

.pp-flex {
    display: flex;
    align-content: center;
}

.pp-row-1 .middle {
    color: white;
    text-align: center;
}

.pp-row-1 .middle .title {
    font-size: 4.5vw;
}

.pp-row-1 .middle .desc {
    font-size: 1.5vw;
}

.pp-row-2 {
    width: 100%;
    height: calc(45vh);
    margin-top: 14vw;
    position: relative;
    text-align: center;
}

.pp-row-3 {
    font-size: 4vw;
    margin-top: 2.5vw;
    line-height: 6.5vw;
    text-align: center;
    word-break: break-all;
    color: rgb(233, 233, 233);
}

.pp-row-4 {
    width: 100%;
    transform: translate(0, 50%);
}

.pp-row-4 .row-1 {
    margin: 0 20vw;
}

.pp-row-4 .row-1 img {
    width: 7vw;
    height: 7vw;
}

.pp-row-4 .row-2 {
    margin: 3vw 0;
    color: rgb(233, 233, 233);
}

.pp-row-4 .row-2 .start-time,
.pp-row-4 .row-2 .end-time {
    font-size: 1vw;
    margin: 0 2vw;
}

.pp-row-4 .row-2 .processor {
    width: 100%;
    height: 0.5vw;
    background-color: rgb(233, 233, 233);
}

.pp-row-4 .row-3 img {
    width: 5vw;
    height: 5vw;
}

.pp-row-4 .row-3 .play-btn {
    width: 8vw !important;
    height: 8vw !important;
}

/* 胶片样式 */
.film {
    box-shadow: 2vw 2vw 3vw #5451519c;
    width: 50vw;
    height: 50vw;
    position: absolute;
    border-radius: 100%;
    border: 11vw solid black;
}

.film .cover {
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
}

.last-film {
    display: block !important;
    animation-name: move-last-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.from-last-to-current-film {
    display: block !important;
    animation-name: from-last-to-current-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.from-current-to-next-film {
    display: block !important;
    animation-name: from-current-to-last-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.next-film {
    display: block !important;
    animation-name: move-next-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes move-last-film-animation {
    0% {
        transform: translate(-130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

@keyframes from-last-to-current-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(130%, 0);
    }
}

@keyframes from-current-to-last-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-130%, 0);
    }
}

@keyframes move-next-film-animation {
    0% {
        transform: translate(130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

.musics-list {
    display: none;
    font-size: 3vw;
    position: absolute;
    width: 80vw;
    background-color: #f7f7f7e6;
    left: 0%;
    bottom: 0%;
    color: #868686;
    padding: 3vw;
    border-radius: 3vw;
    background-size: 100% 100%;
    height: 80vw;
}

.musics-list .title {
    margin-bottom: 3vw;
    font-size: 4vw;
    font-weight: bold;
}

.musics-list .title .title-1 {
    flex: 2;
}

.musics-list .title .title-2 {
    flex: 1;
}

.musics-list .title .title-3 {
    flex: 1;
    text-align: right;
}

.musics-list .col-3 {
    text-align: right;
}

.musics-list .col-1 {
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #525050;
    font-size: 4vw;
}

.musics-list .col-2 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musics-list .col-3 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musics-list .music-item {
    margin: 3vw 0;
}

.dropup-list {
    display: block !important;
    animation-name: dropup-music-list;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.dropdown-list {
    display: block !important;
    animation-name: dropdown-music-list;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.playing-music-underline {
    border-radius: 3vw;
    padding: 2vw 3vw;
    border: 1px solid #d37070;
}

@keyframes dropup-music-list {
    0% {
        transform: translate(0, 0%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@keyframes dropdown-music-list {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0%);
    }
}
