/* 
    @author：郑人滏
    @description：播放页样式
*/
#app {
    z-index: 998;
    padding: 0 !important;
}

.masking {
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    z-index: -1;
    height: 100%;
    filter: blur(50px);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 调整全局内边距 */
.content {
    padding: 3vw;
}

.player-row-1 {
    display: flex;
    align-content: center;
}

/* 顶部两边的图标大小 */
.player-row-1 .col-1,
.player-row-1 .col-3 {
    width: 6vw;
    height: 6vw;
}

.player-row-1 .col-2 {
    color: white;
    text-align: center;
}

.player-row-1 .col-2 .title {
    font-size: 4.5vw;
}

.player-row-1 .col-2 .album {
    font-size: 1.5vw;
}

/* 唱片 */
.player-row-2 {
    height: 85vw;
    margin-top: 14vw;
    position: relative;
}

/* 歌词 */
.player-row-3 {
    font-size: 4vw;
    margin-top: 2.5vw;
    line-height: 6.5vw;
    text-align: center;
    word-break: break-all;
    color: rgb(233, 233, 233);
}

.player-row-4 {
    margin-top: 10vw;
}

.player-row-4 .row-1 {
    margin: 0 20vw;
}

.player-row-4 .row-1 img {
    width: 7vw;
    height: 7vw;
}

/* 进度条 */
.player-row-4 .row-2 {
    margin: 3vw 0;
    color: rgb(233, 233, 233);
}

/* 开始时间和结束时间 */
.player-row-4 .row-2 .start-time,
.player-row-4 .row-2 .end-time {
    font-size: 1vw;
    margin: 0 2vw;
}

/* 进度条 */
.player-row-4 .row-2 .processor {
    width: 100%;
    height: 0.5vw;
    background-color: rgb(233, 233, 233);
}

.player-row-4 .row-3 img {
    width: 5vw;
    height: 5vw;
}

.player-row-4 .row-3 .col-3 {
    width: 8vw !important;
    height: 8vw !important;
}

/* ————————————————————————唱片样式———————————————————————— */
.film {
    width: 50vw;
    height: 50vw;
    position: absolute;
    border-radius: 100%;
    border: 11vw solid black;
    box-shadow: 2vw 2vw 3vw #5451519c;
}

/* 唱片封面 */
.film .surface {
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
}

/* 上一个唱片的动画 */
.last-film {
    display: block !important;
    animation-name: last-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* 从上一个到中间的动画 */
.from-last-to-current-film {
    display: block !important;
    animation-name: from-last-to-current-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* 从中间到下一个唱片的动画 */
.from-current-to-next-film {
    display: block !important;
    animation-name: from-current-to-last-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* 下一个唱片的动画 */
.next-film {
    display: block !important;
    animation-name: next-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes last-film-animation {
    0% {
        transform: translate(-130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

@keyframes from-last-to-current-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(130%, 0);
    }
}

@keyframes from-current-to-last-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-130%, 0);
    }
}

@keyframes next-film-animation {
    0% {
        transform: translate(130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

.music-list {
    display: none;
    font-size: 3vw;
    position: absolute;
    width: 80vw;
    background-color: #f7f7f7e6;
    left: 0%;
    bottom: 0%;
    color: #868686;
    padding: 3vw;
    border-radius: 3vw;
    background-size: 100% 100%;
    height: 80vw;
}

.music-list .title {
    margin-bottom: 3vw;
    font-size: 4vw;
    font-weight: bold;
}

.music-list .title .title-1 {
    flex: 2;
}

.music-list .title .title-2 {
    flex: 1;
}

.music-list .title .title-3 {
    flex: 1;
    text-align: right;
}

.music-list .col-3 {
    text-align: right;
}

.music-list .col-1 {
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #525050;
    font-size: 4vw;
}

.music-list .col-2 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-list .col-3 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-list .music-item {
    margin: 3vw 0;
}

.dropup-list {
    display: block !important;
    animation-name: dropup-music-list;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.dropdown-list {
    display: block !important;
    animation-name: dropdown-music-list;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.playing-music {
    border-radius: 3vw;
    padding: 2vw 3vw;
    border: 1px solid #d37070;
}

@keyframes dropup-music-list {
    0% {
        transform: translate(0, 0%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@keyframes dropdown-music-list {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0%);
    }
}
