/* 
    @author：郑人滏
    @description：播放页样式
*/
#app {
    padding: 0 !important;
}

#container {
    background-size: cover;
    position: relative;
    z-index: 1;
}

.masking {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(70px);
    z-index: -1;
}

.content {
    padding: 3vw;
}

.icon {
    width: 6vw;
    height: 6vw;
}

.pp-flex {
    display: flex;
    align-content: center;
}

.pp-row-1 .middle {
    text-align: center;
    color: white;
}

.pp-row-1 .middle .title {
    font-size: 4.5vw;
}

.pp-row-1 .middle .desc {
    font-size: 1.5vw;
}

.pp-row-2 {
    position: relative;
    text-align: center;
    margin-top: 14vw;
    height: 80vw;
    width: 100%;
}

.pp-row-3 {
    margin-top: 2.5vw;
    color: rgb(233, 233, 233);
    line-height: 6.5vw;
    font-size: 4vw;
    text-align: center;
    word-break: break-all;
}

.pp-row-4 {
    width: 100%;
    transform: translate(0, 50%);
}

.pp-row-4 .row-1 {
    margin: 0 20vw;
}

.pp-row-4 .row-1 img {
    width: 7vw;
    height: 7vw;
}

.pp-row-4 .row-2 {
    margin: 3vw 0;
    color: rgb(233, 233, 233);
}

.pp-row-4 .row-2 .start-time,
.pp-row-4 .row-2 .end-time {
    font-size: 1vw;
    margin: 0 2vw;
}

.pp-row-4 .row-2 .processor {
    width: 100%;
    height: 0.5vw;
    background-color: rgb(233, 233, 233);
}

.pp-row-4 .row-3 img {
    width: 5vw;
    height: 5vw;
}

.pp-row-4 .row-3 .play-btn {
    width: 8vw !important;
    height: 8vw !important;
}

/* 胶片样式 */
.film {
    position: absolute;
    border: 11vw solid black;
    border-radius: 100%;
    width: 53vw;
    height: 53vw;
}

.film .cover {
    width: 53vw;
    height: 53vw;
    border-radius: 100%;
}

.last-film {
    display: block !important;
    animation-name: move-last-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.current-film {
    display: block !important;
    animation-name: move-current-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.next-film {
    display: block !important;
    animation-name: move-next-film-animation;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes move-last-film-animation {
    0% {
        transform: translate(-130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

@keyframes move-current-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-130%, 0);
    }
}

@keyframes move-next-film-animation {
    0% {
        transform: translate(130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
