.top-menu {
    margin-bottom: 5vw;
}

.top-menu img[class^='col'],
.personal-panel .more {
    width: 6.5vw;
    height: 6.5vw;
}

.personal-panel .profile-img {
    width: 14vw;
    height: 14vw;
    border-radius: 100%;
}

.personal-panel .profile-box .vip {
    width: 12%;
    height: 12%;
}

.personal-panel .profile-box div[class^='row'] {
    width: 60vw;
}

.personal-panel .profile-box .username {
    font-size: 4.3vw;
}

.personal-panel .profile-box .signature {
    font-size: 3vw;
    color: #787878;
}

.personal-panel .profile-box .username,
.personal-panel .profile-box .signature {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.personal-service div[class^='col'] img {
    width: 10vw;
    height: 10vw;
}

.personal-service div[class^='col'] .text {
    font-size: 3vw;
    text-align: center;
}

.music-list .header .text {
    position: relative;
    font-size: 3.3vw;
}

.music-list .header .text::after {
    position: absolute;
    content: '';
    background-color: rgb(117, 152, 236);
    width: 100%;
    left: 0%;
    height: 1.5vw;
    opacity: 0.8;
    top: 70%;
    border-radius: 15vw;
}

.music-list .header .more {
    width: 5vw;
    height: 5vw;
}

.music-list .no-data {
    transform: translate(0px, 5vw);
    min-height: 15vw;
    text-align: center;
    font-size: 4vw;
    color: #787878;
}

.play-menu {
    width: 100%;
    background: white;
    opacity: 0.95;
    padding: 1.5vw 3vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

.play-menu .col-1 {
    border: 2vw solid black;
    border-radius: 100%;
    width: 9.5vw;
    height: 9.5vw;
}

.play-menu .col-2 {
    margin: 0 9vw;
}

.play-menu .col-2 .row-1 {
    height: 0.3vw;
    margin-bottom: 1.2vw;
}

.play-menu .col-2 .row-2 .col-2-1 {
    font-size: 4.5vw;
}

.play-menu .col-2 .row-2 .split-line {
    margin: 0 1vw;
    width: 1vw;
    height: 0.3vw;
    background-color: #787878;
}

.play-menu .col-2 .row-2 .col-2-2 {
    font-size: 3vw;
    color: rgb(204, 204, 204);
}

.play-menu .col-3 img[class^='col-3'] {
    width: 6vw;
    height: 6vw;
}

.play-menu .col-3 .col-3-2 {
    margin: 0 2vw;
}
