/* 
    @author：郑人滏
    @description：个人中心页样式
*/

.top-menu {
    margin-bottom: 5vw;
}

.top-menu img[class^='col'],
.personal-panel .more {
    width: 6.5vw;
    height: 6.5vw;
}

.personal-panel .profile-img {
    width: 14vw;
    height: 14vw;
    border-radius: 100%;
}

.personal-panel .profile-box .vip {
    width: 12%;
    height: 12%;
}

.personal-panel .profile-box div[class^='row'] {
    width: 60vw;
}

.personal-panel .profile-box .username {
    font-size: 4.3vw;
}

.personal-panel .profile-box .signature {
    font-size: 3vw;
    color: #787878;
}

.personal-panel .profile-box .username,
.personal-panel .profile-box .signature {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.personal-service div[class^='col'] img {
    width: 10vw;
    height: 10vw;
}

.personal-service div[class^='col'] .text {
    font-size: 3vw;
    text-align: center;
}

.music-list .header .underline {
    font-size: 3.3vw;
}

.music-list .header .more {
    width: 5vw;
    height: 5vw;
}

.music-list .no-data {
    transform: translate(0px, 5vw);
    min-height: 15vw;
    text-align: center;
    font-size: 4vw;
    color: #787878;
}
